.breezeGrid {
  position: relative;
  display: none;
}
.breezeGrid table {
  table-layout: fixed;
  width: auto;
}
.breezeGrid.loading table {
  background-color: white;
  opacity: 0.5;
}
.breezeGrid.loading .ajaxloader {
  position: absolute;
  background: url(ajax-loader-large.gif) no-repeat center center;
  height: 200px;
  width: 100%;
  display: block;
  opacity: 1;
}
.breezeGrid .ajaxloader {
  display: none;
}
.breezeGrid.editable {
  margin-left: -70px;
}
.breezeGrid.editable .icons {
  border: 0;
  width: 68px;
  vertical-align: middle;
  text-align: right;
  padding-bottom: 1px;
}
.breezeGrid.editable .icons .icon {
  font-size: 18px;
}
.breezeGrid.editable .icons .btn + .btn {
  margin-left: 2px;
}
.breezeGrid.editable .icons .btn {
  padding: 3px 4px;
  width: 28px;
}
.breezeGrid.editable .icons .btn.edit,
.breezeGrid.editable .icons .btn.delete {
  display: none;
}
.breezeGrid.editable tr:hover .btn.edit,
.breezeGrid.editable tr:hover .btn.delete {
  display: inline-block;
}
.breezeGrid.editable input[type="text"],
.breezeGrid.editable select {
  margin-bottom: 0;
  padding: 2px 6px;
  height: auto;
}
.breezeGrid.editable select {
  padding-left: 2px;
}
.breezeGrid.editable input[type="checkbox"] {
  margin-left: 10px;
}
.breezeGrid tbody td {
  padding: 2px 5px;
}
.breezeGrid .cell div,
.breezeGrid .cell a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding: 3px 7px;
}
.breezeGrid table > thead > tr > th {
  padding-left: 12px;
}
.breezeGrid th.sortable {
  cursor: pointer;
  padding-right: 20px;
}
.breezeGrid th.sortable.sort:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid gray;
  position: absolute;
  margin-top: 8px;
  margin-left: 5px;
}
.breezeGrid th.sortable.sort.sortdesc:after {
  border-top: 5px solid gray;
  border-bottom: 0;
}
.breezeGrid tfoot td {
  border-top: 0;
}
.breezeGrid .footcontainer {
  position: relative;
  padding-top: 5px;
  border-top: 2px solid silver;
}
.breezeGrid .footcontainer .recordcount {
  position: absolute;
  left: 0;
  top: 10px;
  font-weight: bold;
}
.breezeGrid .footcontainer input.currentpage {
  width: 40px;
}
.breezeGrid .footcontainer .pagesize {
  position: absolute;
  right: 0;
  top: 10px;
}
.breezeGrid .footcontainer .pagesize select {
  width: 80px;
}
.breezeGrid .footcontainer .pager {
  margin: 0;
}
.breezeGrid .footcontainer .pager a {
  text-decoration: none;
}
.breezeGrid .footcontainer .pager a.disabled {
  color: silver;
  cursor: default;
}
