
<link href="~/Content/breezeGrid/breezeGrid.css" rel="stylesheet" />

@section scripts
{
    <script src="~/Scripts/knockout-3.2.0.debug.js"></script>
    <script src="~/Scripts/q.js"></script>
    <script src="~/Scripts/breeze.debug.js"></script>
    <script src="~/Scripts/breezeGrid/BreezeGrid.js"></script>

    <script src="~/Scripts/app.js"></script>


    <script>

        $(document).ready(function() {

            BreezeGridWebApiSample.init();
        });

    </script>
}



<div data-bind="if: grid.addNew">
    <button class="btn btn-primary" data-bind="click:grid.addNew">Add New</button>
</div>


Search by Name: 
<input type="text" data-bind="value: searchText" class="form-control" />

<button data-bind="click: performSearch" class="btn btn-default">Search</button>

<div data-bind="breezeGrid: grid"></div>
